<div class="row">
    <div class="columns large-6">
        <div>ProductId: {{productId}}</div>
        <div>Name: {{name}}</div>
        <div>Price: {{price}}</div>
        <div>Compare Price: {{price}}</div>
    </div>
    <div class="columns large-6">
        <img src="{{productImage}}"></a>
    </div>
</div>
<hr>